# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending set tabs as indentation and trim whitespace before new lines every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true
