.intro {
	background: url(/images/intro-bg.svg), var(--color-accent);
	position: relative;
	padding-bottom: 11rem;

	&__heading {
		&--compact {
			max-width: 40vw;
		}
	}

	&__summary {
		--flow-space: #{get-size(500)};
		font-weight: 500;
	}

	&__meta {
		list-style: none;
		margiin: 0;

		li {
			display: block;

			+ li {
				margin-top: 7px;
			}

			span {
				align-items: center;
				border-bottom: 1px dashed var(--color-accent-alt);
				display: inline-flex;
				padding-bottom: 7px;
			}

			svg {
				height: 22px;
				margin-right: 10px;
				stroke: var(--color-accent-alt);
				width: 22px;
			}
		}
	}

	.wrapper {
		display: grid;
		gap: 1em;
	}

	.custom-shape-divider-bottom-1598546255 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
	}

	.custom-shape-divider-bottom-1598546255 svg {
		position: relative;
		display: block;
		width: calc(185% + 1.3px);
		height: 120px;
		transform: rotateY(180deg);
	}

	.custom-shape-divider-bottom-1598546255 .shape-fill {
		fill: #54455F;
	}
}

.section-intro {
	font-size: 1.1rem;
	margin-top: 0;
}

@include media-query('md') {
	.intro {
		&__heading {
			grid-column: 1/-1;
			grid-row: 2;
			max-width: 60vw;
			min-width: 45vw;
			z-index: 2;
		}

		&__summary {
			grid-column: 1;
			grid-row: 3;

			p {
				max-width: 40ch;
			}
		}

		&__media {
			grid-column: 3/2;
			grid-row: 1/-1;
			position: relative;
			z-index: 1;

			&:before {
				border: .35rem dashed var(--color-accent-alt);
				border-radius: 20px;
				content: '';
				height: 100%;
				left: -1rem;
				pointer-events: none;
				position: absolute;
				top: -1rem;
				width: 100%;
				z-index: 1;
			}
		}

		.wrapper {
			align-items: center;
			grid-template-columns: 1fr minmax(40rem, 1fr);
			grid-template-rows: 1.5rem auto auto auto;
		}
	}
}
