.intro {
	color: var(--color-text);
	margin-bottom: 3.5rem;
	padding-top: 4rem;
	position: relative;
	transition: background-color 300ms ease-in-out 0s, color 300ms ease-in-out 0s;

	.wrapper {
		&:after {
			background-color: var(--color-link-text);
			content: '';
			height: 5px;
			left: auto;
			position: absolute;
			top: 103%;
			transform: rotate(2deg);
			width: 85px;
		}
	}

	// .intro__heading
	&__heading {
		// .intro__heading--compact
		&--compact {
			max-width: 40vw;
		}
	}

	// .intro__summary
	&__summary {
		--flow-space: #{get-size(500)};
		font-weight: 600;

		a {
			color: currentcolor;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}

	// . intro__meta
	&__meta {
		color: var(--color-text);
		font-weight: 500;
	}

	// .intro__image
	&__image {
		// .intro__image--rounded
		&--rounded {
			border: 10px solid var(--color-link-text);
			border-radius: 50%;
			display: block;
			height: 250px;
			margin-top: 3rem;
			width: 250px;
		}
	}

	// .intro__contact
	&__contact {
		margin-top: 1.2rem;

		li + li {
			margin-top: 1rem;
		}

		a {
			align-items: center;
			display: flex;
			font-size: 1.1rem;

			svg {
				margin-right: 5px;
				stroke: var(--color-link-text);
			}
		}
	}
}

.section-intro {
	font-size: 1.1rem;
	margin-top: 0;
}

@include media-query('md') {
	.intro {
		// .intro__heading
		&__heading {
			max-width: 60vw;
			min-width: 45vw;
		}

		// .intro__contact
		&__contact {
			li + li {
				margin-left: 1rem;
				margin-top: 0;
			}
		}

		// .intro__image
		&__image {
			// .intro__image--rounded
			&--rounded {
				margin-top: 0;
			}
		}
	}

	.intro__flex .wrapper {
		align-items: center;
		display: flex;

		> * + * {
			margin-left: var(--flow-space);
		}

		.intro__summary {
			max-width: 500px;
		}
	}

	.section-intro {
		max-width: 65ch;
	}
}
