.nav {
    &__list {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        > * + * {
            margin-left: get-size(500);
        }
    }

    &__item {
        padding: 0;
        flex-shrink: 0;

        &.active {
            a {
                &:after {
                    width: 100%;
                }
            }
        }

        a {
            color: var(--color-light);
            font-size: get-size(500);
            font-weight: 500;

            &:not(:hover) {
                text-decoration: none;
            }
        }

        &--tag {
            a {
                &:after {
                    display: none;
                }
            }
        }
    }
}

@include media-query('md') {
    .nav {
        &__list {
            > * + * {
                margin-left: get-size(700);
            }
        }
    }
}
