.people-list {
    background-color: var(--color-light-grey);
}

.people-list__wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
    // Firefox 64+ scrollbar styling
	scrollbar-color: var(--color-theme-primary) var(--color-text);
}

.people-list__items {
    column-gap: calc(var(--flow-space) + 5px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 0));
}

.people-list__image {
    height: 150px;
    margin-right: var(--flow-space);
    min-width: 150px;
    position: relative;
    width: 150px;

    img {
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.people-list__item {
    padding-bottom: 20px;

    h3 {
        @include apply-utility('font', 'base');
    }

    a {
        color: var(--color-dark);
        font-weight: 600;
    }
}

@include media-query('md') {
    .people-list__items {
        column-gap: 20px;
    }
}
