.post {
	// .post__body
	&__body {
		--flow-space: #{get-size(800)};

		> p:first-of-type:not(.post-note) {
			font-weight: 500;
		}

		/**
        * Generic HTML styles
        */
		h2 + *,
		h3 + * {
			--flow-space: #{get-size(500)};
		}

		h2,
		h3 {
			@include apply-utility('leading', 'tight');
			position: relative;
		}

		a:not([class]) {
			@include apply-utility('leading', 'tight');
			text-decoration-thickness: 2px;
			transition: color .35s ease;
		}

		code,
		.bg-dark > code {
			background-color: var(--color-intro-bg);
			border: 1px solid var(--color-grey-mid);
			border-radius: 4px;
			color: var(--color-text);
			font-size: get-size(400);
			padding: .15rem .3rem;
		}

		pre > code {
			border: 0;
			margin-right: 0;
		}

		blockquote {
			background-color: var(--color-grey-alt);
			border-left: 4px solid var(--color-accent-alt);
			border-radius: 4px;
			color: var(--color-text);
			font-size: get-size(500);
			margin-left: 0;
			padding: get-size(500);
			position: relative;
			width: 100%;

			p {
				padding: get-size(300) 0;
			}
		}

		ol,
		ul {
			margin-left: get-size(800);

			::marker {
				color: var(--color-link-text);
				font-size: get-size(300);
			}
		}

		li + li {
			margin-top: get-size(300);
		}

		figure,
		figure + *,
		pre > code,
		.video-player,
		.video-player + * {
			--flow-space: #{get-size('max')};
		}

		figure,
		.video-player {
			margin-left: 50%; /* changing this value to 47% removes the horizontal scrollbar once the viewport is < 930px */
			max-width: map-get($metrics, 'wrap-max-width');
			position: relative;
			transform: translateX(-50%); /* changing this value to 49% allows for the suggestion above to also eliminate the horizontal scroll. */
			width: 100vw;
		}

		figure img .video-player {
			box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
		}

		figure img {
			position: relative;
			z-index: 1;
		}

		figcaption {
			font-size: .8em;
			font-style: italic;
			margin: .5rem auto 0;
			max-width: map-get($metrics, 'wrap-inner-max-width');
			padding: 0 get-size(500);
		}

		pre[class*='language'] {
			background-color: var(--color-dark-alt);
			border-radius: 6px;
			box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
			position: relative;
		}

		pre > code {
			display: block;
			font-size: get-size(400);
			margin: 0 auto;
			max-width: map-get($metrics, 'wrap-max-width');
			padding: get-size(700);

			::selection {
				background-color: var(--color-light);
				color: var(--color-dark-alt);
			}
		}

		p + .post-note,
		ul + .post-note,
		pre[class*='language'] + .post-note {
			margin-top: var(--flow-space);
		}

		kbd {
			font-size: .75em;
			padding: .063rem .5rem;
			border-radius: .125rem;
			border: 2px solid;
			box-shadow: 1px 1px 0 currentcolor, 2px 2px 0 currentcolor;
		}

		dl {
			--flow-space: #{get-size(400)};

			dt {
				color: var(--color-accent);
				font-weight: 550;
			}

			dd + dt {
				border-top: 1px dotted var(--color-link-text);
				margin-top: var(--flow-space);
				padding-top: var(--flow-space);
			}
		}

		.post-note {
			background-color: var(--color-accent);
			border-radius: 6px;
			color: var(--color-light);
			margin: 0;
			padding: var(--flow-space);

			&:not(.post-note--update) {
				a {
					color: currentcolor;
					text-decoration-color: var(--color-accent-alt);

					&:hover,
					&:focus {
						color: var(--color-accent-alt);
					}
				}
			}

			h3 {
				align-items: center;
				border-bottom: 1px solid rgba(255, 255, 255, .25);
				display: flex;
				font-size: get-size(600);
				margin-bottom: 10px;
				padding-bottom: 10px;
				position: relative;

				.heading-permalink {
					margin-left: calc(var(--flow-space) / 3);
				}
			}

			// post-note--update
			&--update {
				background-color: var(--color-intro-bg);
				color: var(--color-text);

				h3 a {
					display: none;
				}

				strong {
					border-color: var(--color-text);
					font-size: get-size(700);
				}

				code {
					white-space: break-spaces;
				}

				pre {
					width: 100%;
				}
			}
		}

		// post__body--resume
		&--resume {
			h2,
			h3,
			h4 {
				img {
					border: 2px solid var(--color-text);
					border-radius: 50%;
					display: none;
					height: 40px;
					margin-left: 5px;
					margin-right: 5px;
					min-width: 40px;
					vertical-align: middle;
					width: 40px;
					@include media-query('md') {
						display: inline-block;
					}
				}
			}

			h2 {
				border-bottom: 1px dotted var(--color-link-text);
				margin-bottom: 40px;
				padding-bottom: 20px;
			}

			h3 {
				@include apply-utility('font', 'base');
				font-size: get-size(600);
				text-wrap: balance;

				.heading-permalink {
					display: none;
				}
			}

			h4 {
				font-weight: 400;
				margin-top: 5px;
			}

			h5 {
				margin-top: 5px;
			}
		}
	}

	// .post__footer
	&__footer {
		background-color: var(--color-intro-bg);

		h2 {
			margin-right: get-size('base');

			a {
				@extend %visually-hidden;
			}
		}

		ul {
			justify-content: flex-start;
			gap: 1rem;
		}

		a {
			align-items: flex-start;
			box-sizing: border-box;
			justify-content: center;

			&:hover,
			&:focus {
				text-decoration: underline;
				text-decoration-color: var(--color-link-text);
				text-decoration-thickness: 2px;
			}
		}
	}
}
