.post-list {
	.wrapper {
		position: relative;

		> *:not(.generator__canvas) {
			position: relative;
			z-index: 2;
		}

		.decoration {
			bottom: -4.85em;
			display: none;
			left: -10em;
			position: absolute;
			width: 20em;
			z-index: 0;
			@media (min-width: 1024px) {
				display: block;
			}
		}

		&:after {
			background-color: var(--color-intro-bg);
			content: '';
			height: 110%;
			left: 0;
			position: absolute;
			top: -5%;
			transform: rotate(-2deg);
			width: 100%;
			z-index: 1;
			@media (min-width: 1024px) {
				left: -5%;
				width: 45%;
			}
		}
	}

	&:nth-child(odd) {
		.wrapper {
			&:after {
				display: none;
			}
		}
	}

	// .post-list__item
	&__item {
		--flow-space: #{get-size(700)};
		max-width: 35rem;
	}

	// .post-list__link
	&__link {
		color: var(--color-text);
	}

	// .post-list__archive
	&__archive {
		color: var(--color-text);
		display: block;
		margin-top: 2.2rem;
		text-decoration: underline;
		text-decoration-color: var(--color-link-text);
		text-decoration-thickness: 2px;

		&:hover,
		&:focus {
			color: var(--color-link-text);
		}
	}
}
