.post-list {
    background-color: var(--color-accent);
    color: var(--color-light);

    &__item {
        --flow-space: #{get-size(700)};
    }

    &__link {
        color: var(--color-light);

        &.link-hover {
            &:after {
                height: 4px;
            }
        }
    }
}
