.project-list__items {
    display: grid;
    gap: var(--flow-space);
    grid-template-columns: repeat(2, 1fr);
}

.project-list__item {
    --flow-space: 1rem;

    a {
        color: var(--color-dark);
    }
}

.project-list__content {
    > * + * {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .project-list__item {
        > a {
            display: block;
            position: relative;
            overflow: hidden;
        }

        &:hover,
        &:focus {
            .project-list__content {
                transform: translateY(-1.75rem);
                transition-delay: .05s;
                transition-timing-function: cubic-bezier(.215,.61,.355,1);

                span {
                    visibility: visible;
opacity: 1;
transition: visibility 0s linear 0s,opacity .2s cubic-bezier(.365,.005,.355,1);
                }
            }
        }
    }

    .project-list__content {
        // background-color: var(--color-light);
        box-sizing: border-box;
        color: var(--color-light);
        display: grid;
        // grid-template-rows: 40px 50px 35px;
        left: 0;
bottom: 40px;
right: 0;
        margin: 0;
        padding: 0 30px;
        position: absolute;
        // row-gap: 10px;
        // transform: translateY(-35px);
        transition: transform .3s cubic-bezier(.645,.045,.355,1), -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
        width: 100%;

        h3 {
            font-size: get-size(700);
        }

        p {
            font-size: get-size(500);
        }

        span {
            color: var(--color-light);
            justify-self: flex-start;
            opacity: 0;
            transition: opacity .35s, transform .35s;
            will-change: opacity;
            position: absolute;
            top: 100%;
            left: 30px;
            transition: visibility 0s linear .2s,opacity .2s cubic-bezier(.365,.005,.355,1);
            visibility: hidden;

            // &:hover,
            // &:focus {
            //     color: var(--color-theme-primary);
            // }
        }
    }
}