.site-head {
	overflow: hidden;
}

.site-logo {
	fill: var(--color-dark);

	path {
		transition: stroke .3s;
	}

	&:hover,
	&:focus {
		path {
			stroke: var(--color-accent-alt);
		}
	}
}

@include media-query('md') {
	.site-head {
		.wrapper {
			max-width: 75rem;
		}
	}

	.site-head__inner {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}
