.site-head {
	overflow: hidden;

	&:before {
		background-image: radial-gradient(var(--color-link-text) 35%, transparent 40%);
		background-size: 5px 5px;
		content: '';
		display: block;
		height: 1rem;
		margin-bottom: 2rem;
		width: 100vw;
	}
}

.site-logo {
	fill: var(--color-text);
	transition: fill .3s;
	width: 60px;

	&:hover,
	&:focus {
		fill: var(--color-link-text);
	}
}

@include media-query('md') {
	.site-head {
		.wrapper {
			max-width: 75rem;
		}
	}

	.site-head__inner {
		align-items: center;
		display: flex;

		// Outputs: .site-head__inner--right
		&--right {
			align-items: center;
			display: flex;
			margin-left: auto;

			> * + * {
				margin-left: 2em;
			}
		}
	}

	.site-logo {
		width: 75px;
	}
}
