.site-foot {
	border-top: 1px solid var(--color-grey-med);
	// .site-foot__credit
	&__credit {
		text-align: center;

		li {
			display: inline-block;
			line-height: 1.8;

			&:nth-child(n + 2):before {
				color: light-dark(var(--color-accent), var(--color-accent-alt));
				content: '|';
				display: inline-block;
				margin: 0 .4rem;
			}
		}
	}

	// .site-foot__details
	&__details {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;

		a {
			opacity: .5;
			transition: opacity .5s ease;

			&:hover,
			&:focus {
				opacity: 1;
			}
		}
	}

	// .site-foot__icon
	&__icon {
		display: inline-flex;

		&:hover,
		&:focus {
			svg {
				fill: light-dark(var(--color-accent), var(--color-accent-alt));
			}
		}

		svg {
			fill: light-dark(var(--color-text), var(--color-bg));
			height: 35px;
			width: 35px;
		}
	}

	// .site-foot__social
	&__social {
		align-items: center;
		display: flex;
		list-style: none;

		li + li {
			margin-left: 10px;
		}
	}
}

@include media-query('md') {
	.site-foot {
		.wrapper {
			max-width: 75rem;
		}
	}
}
