.site-foot {
	color: var(--color-light);

	// Outputs: .site-foot__credit
	&__credit {
		text-align: center;
	}

	// Outputs: .site-foot__details
	&__details {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;

		a {
			opacity: .5;
			transition: opacity .5s ease;

			&:hover,
			&:focus {
				opacity: 1;
			}
		}
	}

	// Outputs: .site-foot__icon
	&__icon {
		&:hover,
		&:focus {
			svg {
				fill: var(--color-light);
			}
		}

		svg {
			fill: #969697;
			height: 35px;
			transition: fill .5s ease;
			width: 35px;
		}
	}
}

@include media-query('md') {
	.site-foot {
		.wrapper {
			max-width: 75rem;
		}
	}
}
