.site-head {
	background-color: var(--color-accent-alt);
	position: relative;

	> svg {
		left: 0;
		position: absolute;
		transition: fill .3s ease-in-out 0s;
		width: 100%;
		z-index: -1;
	}
}

.site-logo {
	fill: var(--color-text);
	transition: fill .3s;
	width: 60px;

	&:hover,
	&:focus {
		fill: var(--color-link-text);
	}
}

@media screen and (max-width: 767px) {
	.site-head {
		background-color: var(--color-intro-bg);

		> svg {
			top: 100%;
		}
	}
}

@include media-query('md') {
	.site-head {
		> svg {
			fill-opacity: .65;
			top: -30px;
		}

		.wrapper {
			max-width: 75rem;
		}
	}

	.site-head__inner {
		align-items: center;
		display: flex;

		// .site-head__inner--right
		&--right {
			align-items: center;
			display: flex;
			margin-left: auto;

			> * + * {
				margin-left: 2em;
			}
		}
	}

	.site-logo {
		width: 65px;
	}
}
