// Hide skip link visually by default
.skip-link:not(:focus) {
	@extend %visually-hidden;
	background-color: var(--color-accent);
	color: var(--color-white);
	font-weight: 700;
	padding: get-size(300) get-size(500) get-size('base') get-size(500);
	text-decoration: none;
}

.skip-link:focus {
	display: inline-block;
	left: 0;
	line-height: 1;
	position: absolute;
	top: 0;
}
