<section class="[ about ] [ pad-top-900 pad-bottom-max ]">
	<div class="[ wrapper ] [ sf-flow ]">
		<h2 class="[ post-list__heading ] [ text-700 md:text-900 ]">About Me</h2>
		<p class="section-intro">Developing, running, walking, cooking, and looking old</p>
		<p class="[ pad-top-800 ]">{{ about | safe }}</p>
	</div>
</section>