{% if navigation.items %}

		<nav class="nav">
			<ul class="[ nav__list nav__list--main ] [ box-flex align-center md:space-before ]">
			{% for item in navigation.items %}
				{% set externalAttribute = '' %}
				{% set currentAttribute = '' %}

				{% if item.external %}
				{% set externalAttribute = ' rel="external"' %}
				{% endif %}

				{% if page.url == item.url %}
				{% set currentAttribute = ' aria-current="page"' %}
				{% endif %}

				<li class="nav__item {% if page.url == item.url %} active{% endif %}">
					<a href="{{ item.url }}" {{ externalAttribute | safe }}{{ currentAttribute | safe }}>
						<span>{{ item.text }}</span>
					</a>
				</li>
			{% endfor %}
			</ul>
		</nav>
{% endif %}
