
<section class="[ people-list ] [ pad-top-500 pad-bottom-500 md:pad-top-600 md:pad-bottom-max ]">
	<div class="[ wrapper ] [ sf-flow ]">
		<h2 class="[ people-list__heading ] [ text-700 md:text-900 ]">Inspiring Folks</h2>
		<p class="section-intro">A few people who I work/have worked with that inspire me and have helped me grow as a developer &ndash; thank you!</p>
		<div class="people-list__wrapper">
			<ul class="[ people-list__items ] [ pad-top-500 ]">
			{% for people in collections.people %}
				<li class="people-list__item [ sf-flow ]">
					<div class="people-list__image">
						<img src="{{ site.url }}{{ people.data.image }}" alt="" loading="lazy">
					</div>

					<div class="[ sf-flow ]">
						<h3 class="[ text-600 leading-tight ]">{{ people.data.title }}</h3>
						<p>{{ people.data.shortDescription }}</p>
						<a href="{{ people.data.url }}" class="link-hover" target="_blank" rel="noreferrer">{{ people.data.url }}</a>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</section>