main {
    align-items: center;
    color: var(--color-light);
    display: flex;
    min-height: 100vh;
    justify-content: center;

    h1 {
        letter-spacing: .1rem;
    }

    svg {
        height: 80px;
        margin-bottom: 2em;
        min-width: 80px;
        width: 80px;
    }

    > div {
        padding-left: 1em;
        padding-right: 1em;
        max-width: 685px;
    }
}