<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-700 ]">
  <div class="wrapper">
    {% if site.showThemeCredit %}
      <p class="[ site-foot__credit ] [ pad-top-900 ]">
	  	A site by <a href="https://jamesbateson.co.uk">James Bateson</a>.
      </p>
    {% endif %}
  </div>
</footer>
