<a class="skip-link" href="#main-content">Skip to content</a>
<header class="[ site-head ] [ pad-bottom-100 ]">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--color-intro-bg)" d="M0,96L48,96C96,96,192,96,288,112C384,128,480,160,576,165.3C672,171,768,149,864,154.7C960,160,1056,192,1152,202.7C1248,213,1344,203,1392,197.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>

	<div class="wrapper">
		<span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>
		<div class="[ site-head__inner ]">
			<a href="/" class="[ site-head__site-name ] [ leading-tight ]"{{ 'aria-current=page' if page.url == '/' | safe }}>
				<span class="visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
				{% include "partials/logo.svg" %}
			</a>

			<div class="site-head__inner--right">
				{% include "partials/components/nav.njk" %}
				{% include "partials/global/light-dark-toggle.njk" %}
			</div>
		</div>
	</div>
</header>
