<a class="skip-link" href="#main-content">Skip to content</a>
<header class="[ site-head ] [ pad-bottom-100 ]">
	<div class="wrapper">
		<span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>
		<div class="[ site-head__inner ]">
			<a href="/" class="[ site-head__site-name ] [ leading-tight ]"{{ 'aria-current=page' if page.url == '/' | safe }}>
				<span class="visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
				{% include "partials/logo.svg" %}
			</a>

			<div class="site-head__inner--right">
				{% include "partials/components/nav.njk" %}
			</div>
		</div>
	</div>
</header>
