{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ bannerSummary | safe }}
{% endset %}

{# Post and journal list content #}
{% set postListHeading = postsHeading %}
{% set postListSummary = postsSummary %}
{% set postListItems = collections.postFeed %}
{% set journalListHeading = journalHeading %}
{% set journalListSummary = journalSummary %}
{% set journalListItems = collections.journalFeed %}

{# Project list content #}
{% set projectListItems = collections.projects %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/article-list.njk" %}
	{% include "partials/components/journal-list.njk" %}
    {% include "partials/components/project-list.njk" %}
  </main>
{% endblock %}
