{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ bannerSummary | safe }}
{% endset %}

{# Post and journal list content #}
{% set postListHeading = postsHeading %}
{% set postListSummary = postsSummary %}
{% set postListItems = collections.postFeed %}
{% set journalListHeading = journalHeading %}
{% set journalListSummary = journalSummary %}
{% set journalListItems = collections.journalFeed %}

{# Project list content #}
{% set projectListItems = collections.projects %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
	{% include "partials/components/article-list.njk" %}

	<section class="[ talks-list ] [ pad-top-400 pad-bottom-400 ]">
		<div class="[ wrapper ] [ sf-flow ]">
			<h2 class="[ talks-list__heading ][ text-700 md:text-max ]">Speaking and Writing</h2>
			<p class="section-intro">I am passionate about speaking and writing on a variety of topics. Particularly around accessibility, front-end development, performance and UI.</p>

			<ul class="pad-top-500" role="list">
				<li class="sf-flow">
					<h3><span>Testing Accessibility</span></h3>
					<p>A shared talk with Enik Jonas at a QA Beginners Club meetup around the importance of testing accessibility, alongside some tips and techniques. I also gave a version of this talk solo at <a href="https://www.meetup.com/mcrfred/events/288887240/?eventOrigin=group_events_list">McrFRED #81</a>.</p>
					<a href="https://www.youtube.com/watch?v=cyGSVHi-J4A&t=1s" rel="noreferrer">View the Testing Accessibility talk on YouTube</a>
				</li>

				<li class="sf-flow">
					<h3><span>5 HTML elements, And a partridge in a despair tree</span></h3>
					<p>An article written for the 2022 HTMHell advent calendar. Spotlighting 5 HTML elements and how much you get for free with them compared to complex custom solutions.</p>
					<a href="https://www.htmhell.dev/adventcalendar/2022/16/">View the 5 HTML elements, And a partridge in a despair tree article on HTMHell</a>
				</li>

				<li class="sf-flow">
					<h3><span>Accessibility Champions: Trying to create an accessibility culture</span></h3>
					<p>A talk given at Manchester Tech Festival 2023. Using my accessibility champions journey at Code Computerlove.</p>
				</li>

				<li class="sf-flow">
					<h3><span>Start with the fundamentals</span></h3>
					<p>A talk given at a <a href="https://www.meetup.com/juniordeveloper-careers-manchester/events/299142969/?eventOrigin=group_past_events">Junior Developer Careers community meetup</a>. Highlighting the importance of learning the fundementals when starting a front end career, HTML, CSS and JavaScript.</p>
				</li>

				<li class="sf-flow">
					<h3><span>Culture leads to conformance<span></h3>
					<p>My first ever public talk for Human Centered Design (HCD) Manchester. Filled with nerves and learned so much since and from it.</p>
				</li>
			</ul>
		</div>
	</section>

	{% include "partials/components/activity-list.njk" %}
	{% include "partials/components/journal-list.njk" %}
    {% include "partials/components/project-list.njk" %}
  </main>
{% endblock %}
