{% extends 'layouts/base.njk' %}
{% set pageType = 'Journal Archive' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary = "All journal entries." %}

{# Post list content #}
{% set journalListItems = collections.journal %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/journal-list.njk" %}
  </main>
{% endblock %}
