{% extends 'layouts/base.njk' %}
{% set pageType = 'resume' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary = bannerSummary %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-resume ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body post__body--resume ] [ inner-wrapper ] [ pad-top-600 pad-bottom-max text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
    </article>
  </main>
{% endblock %}

{# {% set objImg = "sarah_edo" | avatarObject %}{% img objImg, defaultImageOptions %} #}

{{ content | safe }}
