{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
	<ul class="intro__meta">
		<li>
			<span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
				</svg>
			<time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
			</span>
		</li>
		<li>
			<span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
			</svg>
			{{ location }}
			</span>
		</li>
		<li>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
			</svg>
			{{ duration }}
			</span>
		</li>
		<li>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
			</svg>
			{{ distance }}
			</span>
		</li>
		<li>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
			</svg>
			{{ ascent }}
			</span>
		</li>
		<li>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z" />
			</svg>
			{{ brews}}
			</span>
		</li>
	</ul>

	<p>{{ summary | safe }}</p>
{% endset %}
{% set introImage = header %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ pad-top-600 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
      {% if site.enableThirdPartyComments %}
        <hr />
        <aside class="[ post__body ] [ inner-wrapper ] [ pad-bottom-900 text-500 ]">
          {% include "partials/global/third-party-comments.njk" %}
        </aside>
      {% endif %}
      {% if tags %}
        <footer class="[ post__footer ] [ pad-top-600 pad-bottom-600 ]">
          <div class="inner-wrapper">
            <div class="[ nav ] [ box-flex align-center ]">
              <h2 class="font-base text-500">Filed under</h2>
              <ul class="[ nav__list nav__list--tags ] [ box-flex align-center pad-left-400 ] [ p-category ]">
                {% for item in tags %}
                  <li class="nav__item nav__item--tag">
                    <a href="/tags/{{ item }}" class="text-400">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
