{% extends 'layouts/base.njk' %}
{% set pageType = 'Walks Archive' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{% set walkListHeading = walkListHeading %}
{% set walkListSummary = walkListSummary %}
{% set walkListItems = collections.walksFeed %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/walks-list.njk" %}
  </main>
{% endblock %}
