@media print {
	a,
	a:not([class]) {
		text-decoration: none;
	}

	.site-head,
	.site-foot {
		display: none;
	}

	.heading-permalink {
		display: none;
	}

	.intro {
		&__contact {
			li {
				display: inline-block;
				float: left;
			}
		}
	}

	.post-note--resume {
		display: none;
	}

	.post__body--resume h3 img {
		display: none;
	}
}
