@media print {
	.post__body--resume {
		--flow-space: 1.5rem;
	}

	a,
	a:not([class]) {
		text-decoration: none;
	}

	.site-head,
	.site-foot {
		display: none;
	}

	.heading-permalink {
		display: none;
	}

	.intro {
		padding-bottom: .5rem;
		padding-top: 0;

		// .intro__heading
		&__heading {
			font-size: 3.5rem;
			margin-top: 0;
		}

		// .intro__summary
		&__summary {
			font-size: 1.2rem;
		}

		// .intro__contact
		&__contact {
			li {
				display: inline-block;
				float: left;
			}

			li + li {
				margin-left: 1rem;
				margin-top: 0;
			}

			a svg {
				stroke: var(--color-dark);
			}
		}
	}

	.post-note--resume {
		display: none;
	}

	.post__body--resume {
		h3 img {
			display: none;
		}

		h2 {
			border-bottom: 1px dotted var(--color-dark);
		}

		ol,
		ul {
			::marker {
				color: var(--color-dark);
			}
		}
	}

	.post__body--resume h2 {
		margin-bottom: 20px;
	}
}
