:root {
	// Pull the tokens and generate custom props
	@each $color in $stalfos-colors {
		#{'--color-' + nth($color, 1)}: #{nth($color, 2)};
	}

	// Set theme aliases
	--color-bg: #{get-color('light')};
	--color-text: #{get-color('dark')};
	--color-selection-text: #{get-color('light')};
	--color-selection-bg: #{get-color('dark')};
	--color-stroke: #{get-color('mid')};
	--color-action-bg: #{get-color('primary')};
	--color-action-text: #{get-color('light')};
	--color-theme-primary: #{get-color('primary')};
	--color-theme-primary-glare: #{get-color('primary-glare')};

	--color-light: #{get-color('light')};
	--color-grey-light: #{get-color('grey-light')};
	--color-grey-med: #e9e9e9;
	--color-accent: #{get-color('accent')};
	--color-accent-alt: #{get-color('accent-alt')};
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
}

main {
	overflow: hidden;
}

::selection {
	background-color: var(--color-selection-bg);
	color: var(--color-selection-text);
}
