:root {

	// Set theme aliases
	--color-mode: 'light';
	--color-bg: #{get-color('light')};
	--color-text: #{get-color('dark')};
	--color-link-text: #{get-color('primary')};
	--color-selection-text: #{get-color('light')};
	--color-selection-bg: #{get-color('dark')};
	--color-stroke: #{get-color('mid')};
	--color-action-bg: #{get-color('primary')};
	--color-action-text: #{get-color('light')};
	--color-theme-primary: #{get-color('primary')};
	--color-theme-primary-glare: #{get-color('primary-glare')};
	--color-intro-bg: #{get-color('grey-alt')};
	--color-light: #{get-color('light')};
	--color-grey-light: #{get-color('grey-light')};
	--color-grey-med: #{get-color('grey-med')};
	--color-accent: #{get-color('accent')};
	color-scheme: light dark;

	// Pull the tokens and generate custom props
	@each $color in $stalfos-colors {
		#{'--color-' + nth($color, 1)}: #{nth($color, 2)};
	}
}

@include dark-mode() {
	--color-bg: #1f1a24;
	--color-bg-glare: #{get-color('dark')};
	--color-text: #{get-color('light')};
	--color-link-text: #{get-color('accent-alt')};
	--color-selection-text: #{get-color('dark')};
	--color-selection-bg: #{get-color('light')};
	--color-stroke: #{get-color('dark')};
	--color-theme-primary-glare: #{lighten(get-color('primary-glare'), 50%)};
	--color-action-bg: var(--color-theme-primary-glare);
	--color-action-text: #{get-color('dark')};
	--color-theme-highlight: #{get-color('accent')};
	--color-theme-highlight-block: #{get-color('dark')};
	--color-theme-feature-text: #{get-color('accent')};
	--color-intro-bg: #141118;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
}

main {
	overflow: hidden;
}

::selection {
	background-color: var(--color-selection-bg);
	color: var(--color-selection-text);
}
