@font-face {
	font-display: swap;
	font-family: red-hat;
	font-style: normal;
	font-weight: 300 700;
	src: url('/fonts/red-hat/red-hat-test.woff2') format('woff2');
}

@font-face {
	font-family: custom-fallback;
	src: local(arial);
	size-adjust: 100%;
	ascent-override: 102%;
	descent-override: normal;
	line-gap-override: 6%;
}

body {
	@include apply-utility('font', 'base');
	font-weight: 400;
	line-height: 1.6;
}

h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: get-size(700);
}

h2 {
	font-size: get-size(600);
}

h3 {
	font-size: get-size(500);
}

.font-serif {
	@include apply-utility('font', 'heading');
}

.font-base {
	@include apply-utility('font', 'base');
}

@include media-query('md') {
	h1 {
		font-size: get-size(900);
	}

	h2 {
		font-size: get-size(800);
	}

	h3 {
		font-size: get-size(700);
	}
}
