@font-face {
	font-display: swap;
	font-family: Nunito;
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/nunito/nunito-black.woff2') format('woff2'), url('/fonts/nunito/nunito-black.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: nunito;
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/nunito/nunito-semibold.woff2') format('woff2'),
		url('/fonts/nunito/nunito-semibold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: nunito;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/nunito/nunito-regular.woff2') format('woff2'),
		url('/fonts/nunito/nunito-regular.woff') format('woff');
}

body {
	@include apply-utility('font', 'base');
	font-weight: 400;
	line-height: 1.6;
}

h1,
h2,
h3 {
	font-weight: 900;
}

h1 {
	font-size: get-size(700);
}

h2 {
	font-size: get-size(600);
}

h3 {
	font-size: get-size(500);
}

.font-serif {
	@include apply-utility('font', 'heading');
}

.font-base {
	@include apply-utility('font', 'base');
}

@include media-query('md') {
	h1 {
		font-size: get-size(900);
	}

	h2 {
		font-size: get-size(800);
	}

	h3 {
		font-size: get-size(700);
	}
}
