@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

// Mixins
// @import 'mixins/dark-mode';
@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES
 */

html {
	background-color: var(--color-bg);
	position: relative;
	transition: background-color 0.3s ease-in-out 0s;
}

body {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

main:focus {
	outline: none;
}

hr {
	background: var(--color-stroke);
	border: none;
	display: block;
	height: 1px;
	margin: get-size(900) auto;
	max-width: 500px;
}

h1, h2, h3 {
	text-wrap: balance;
}

// Links

a:not([class]) {
	color: light-dark(var(--color-text), var(--color-bg));
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: light-dark(var(--color-accent), var(--color-accent-alt));

	&:hover,
	&:focus {
		color: light-dark(var(--color-accent), var(--color-accent-alt));
	}
}

.link-hover {
	&:hover {
		text-decoration-color: light-dark(var(--color-accent)), var(--color-accent-alt);
	}

	&:focus-visible {
		outline-offset: 4px;
		outline-width: 4px;
	}
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Components
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/project-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/talks-list';
@import 'components/video-player';

// Print (mainly for resume)
@import 'print';
