@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';
@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES
 */

html {
	background-color: #54455f;
}

body {
	background: transparent;
	min-height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

main {
	color: var(--color-light);

	&:focus {
		outline: none;
	}
}

hr {
	background: var(--color-stroke);
	border: none;
	display: block;
	height: 1px;
	margin: get-size(900) auto;
	max-width: 500px;
}

// Links

a:not([class]) {
	color: currentColor;
	text-decoration: underline;
	text-decoration-color: var(--color-accent-alt);

	&:hover,
	&:focus {
		color: var(--color-accent-alt);
	}
}

.link-hover {
	display: inline-block;
	text-decoration: none;

	&:after {
		background-color: var(--color-accent-alt);
		content: '';
		display: block;
		height: 2px;
		margin-top: 2px;
		transition: width .4s ease;
		width: 0;
	}

	&:hover,
	&:focus {
		text-decoration: none;

		&:after {
			width: 100%;
		}
	}
}

.more-link {
	color: var(--color-light);
	display: block;
	font-size: 1.15rem;
	margin-top: 2rem;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: var(--color-accent-alt);
	}
}

img.rounded {
	border-radius: 20px;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Components

// @import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
// @import 'components/pagination';
// @import 'components/post';
@import 'components/overflow-list';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';

// Print (mainly for resume)

@import 'print';
