@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';
@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES
 */

html {
    background-color: var(--color-grey-light);
    position: relative;

    &:before,
    &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        content: '';
        height: 200px;
        opacity: .5;
        position: absolute;
        width: 200px;
        z-index: -1;
    }

    &:before {
        left: 0;
        top: 50%;
    }

    &:after {
        right: 0;
        top: 20%;
    }
}

body {
    background: transparent;
    scroll-behavior: smooth;
}

main:focus {
    outline: none;
}

hr {
    background: var(--color-stroke);
    border: none;
    display: block;
    height: 1px;
    margin: get-size(900) auto;
    max-width: 500px;
}

// Links

a:not([class]) {
    color: currentColor;
    text-decoration: underline;
    text-decoration-color: var(--color-theme-primary);

    &:hover,
    &:focus {
        color: var(--color-theme-primary);
    }
}

.link-hover {
    display: inline-block;
    text-decoration: none;

    &:after {
        background-color: var(--color-theme-primary);
        content: '';
        display: block;
        height: 2px;
        margin-top: 2px;
        transition: width .4s ease;
        width: 0;
    }

    &:hover,
    &:focus {
        text-decoration: none;

        &:after {
            width: 100%;
        }
    }
}

@include media-query('md') {
    html {
        &:before,
        &:after {
            opacity: 1;
        }
    }
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Components

@import 'components/about';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/people';
@import 'components/post';
@import 'components/post-list';
@import 'components/project-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
